body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    min-height: 100vh;
}

header{
    background-color: #FFFFFF;
}

nav{
    color:#2E2F42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-left: 156px;
}

.logo-blue{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.header-li{
    display: flex;
    margin-top: 24px;
    gap: 40px;
    margin-right: 332px;
}

.header-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-list:hover,
.header-list:focus
{
    color:#404BBF;
}

img {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.adres{
    list-style: none;
    color:#434455;
    font-style: normal;
    display: flex;
    gap: 40px;
    margin-right: 156px;
}

.addreas-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.addreas-list:hover,
.addreas-list:focus
{
    color:#404BBF;
}

main{
    flex-grow: 1;
}

.big-logo{
    background-color: #2E2F42;
    display: flex;
    justify-content: center;
}

.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    display: flex;
    margin-top: 188px;
    margin-bottom: 292px;
    color: #FFFFFF;
}

.buton{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: #4D5AE5;
}

.buton:hover{
    background-color: #404BBF;
}

.button-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.text-box-logo{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: grid;
    color: #2E2F42;
}

.text-box{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: grid;
    color: #434455;
}

.people{
    background-color: #F4F4FD;
}

.persons-logo{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.people-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.people-box{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.people-logo{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.people-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-logo{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.item-box{
    width: 360px;
    height: 420px;
}

.item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: #2E2F42;
}

.item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foter{
    background-color: #2E2F42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}